h1{
    color:aquamarine;
    text-align: center;
    font-style:oblique;
    text-shadow: 7px 7px 5px blue;
    font-size:100px;
    animation-name: my;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
}
@keyframes my{
    from{text-shadow:7px 7px 5px blue;}
    to{text-shadow:7px 7px 5px red;}
}
h2{
    color:navy;
    font-size:70px;
    text-align: center;
    font-size:italic;
}
body{
    background-image:url('beach1.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
p{
    color:white;
}
#home{
    margin-right:100%;
    padding-right:10px;
}
button{
    background-color:darkmagenta;
    color:azure;
    margin-bottom: 50px;
    padding: 30px;
    font-size:60px;
    
}
#c{
    margin-left:90%;
    background-color:white;
    color:black;
}
#d{
    background-color: white;
    color:navy;
    padding: 3px;
    margin-top: 50px;
    font-size: 10px;
}
#sign{
     margin-left:100%;
     background-color: white;
     color:black;
     padding-right:20px;
     top:100%;
     left:100%;
}
@keyframes  myAnimation{
    from{background-image:url('beach1.jpg') ;}
    to{background-image:url('nature1.jpg');}
}
.fa-youtube{
    color:red;
}
.fa-shop{
    color:aqua;
}
.fa-guitar{
    color:crimson;

}
.fa-cart-shopping{
    color:blue;
}
.fa-gamepad{
    color: lawngreen;

}
.fa-chess{
    color:white;
}
.fa-music{
    color: navy;
}
.fa-face-smile{
    color:yellow;
}
.fa-bus-side{
    color:violet;
}
.fa-house{
    color:darkorchid;
}
#tour{
    bottom:100%;
}
.fa-share{
    font-size:90px;
}
.fa-calculator{
    font-size:80px;
    color:blue;
}
@keyframes sharpblink
{
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}
 .fa-share{
     animation:sharpblink 1s linear infinite;
 }
