h1{
    color:red;
    font-size: 70px;
    text-align: center;
    font-style:italic;
}
h2{
    color:navy;
    font-size:60px;
    text-align: center;
}
body{
    background-image:url('beach1.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
p{
    color:white;
}
#home{
    margin-right:100%;
    padding-right:10px;
}
button{
    background-color:darkmagenta;
    color:azure;
    margin-bottom: 50px;
    padding: 30px;
    font-size:60px;
    
}
#c{
    margin-left:90%;
    background-color:white;
    color:black;
}
#d{
    background-color: white;
    color:navy;
    padding: 3px;
    margin-top: 50px;
    font-size: 10px;
}
#sign{
     margin-left:100%;
     background-color: white;
     color:black;

}
@keyframes  myAnimation{
    from{background-image:url('beach1.jpg') ;}
    to{background-image:url('nature1.jpg');}
}
.fa-youtube{
    color:red;
}
.fa-shop{
    color:aqua;
}
.fa-guitar{
    color:crimson;

}
.fa-cart-shopping{
    color:blue;
}
.fa-gamepad{
    color: lawngreen;

}
.fa-chess{
    color:white;
}
.fa-music{
    color: navy;
}
.fa-face-smile{
    color:yellow;
}
.fa-bus-side{
    color:violet;
}
.fa-house{
    color:darkorchid;
}
